footer {
	margin-top: 4em;
	padding: 3em;
	text-align: center;
	background-color: #aaa;
	color: #eee;
	font-weight: bold;
	img {
		width: 86px;
		margin-left: 0.5em;
		vertical-align: text-bottom;
	}
}