<?php  ?>
<div class="modular-row about">
	{{ content }}
	<div class="title-wrap">
		<h1>{cross-disciplinary} Data CyberInfrastructure</h1>
		<h3>Accelerating Discovery For {any community}</h3>
	</div>
	<div class="red-section">
		<div class="red-section-text">
			<div class="what-wrap">
				<div class="what-description">
					RENCI offers {x}DCI as a complete <b>customizable</b> solution for scientific communities that simplifies the process of creating and using data science cyberinfrastructure.
				</div>
				<div class="what-description">
					{x}DCI communities are <b>sustainable</b> through a dynamic, mature, proven process that allows your infrastructure to migrate over time.
				</div>
				<div class="what-description">
					Leveraging {x}DCI as common infrastructure affords <b>cross-disciplinary</b> collaboration.
				</div>
			</div>
		</div>
	</div>
</div>