<?php  ?>
{{ content }}
<div class="modular-row process">
	<div class="process-wrap">
		<h2>The {x}DCI Process</h2>
		<div class="step-row">
			<div class="step-icon">
				<img src="user/themes/x-dci/images/it_icon.png" />
			</div>
			<div class="step-text">
				<div class="step-number">01</div>
				<div class="step-description">
					<h4>Information Technology Concierge</h4>
					<p>The {x}DCI Information Technology (IT) Concierge staff will work with your team to move your project from concept to a productive and efficient combination of select {x}DCI technologies, in effect creating a unique {x}DCI-based architecture for your project.</p>
					<div class="logo-wrap">
						<a href="http://databridge.web.unc.edu/" target="_blank"><img src="user/themes/x-dci/images/data_bridge_icon.png" /></a>
						<a href="https://www.dataone.org/" target="_blank"><img src="user/themes/x-dci/images/data_one_icon.png" /></a>
						<a href="https://xdci-de.renci.org/de" target="_blank"><img src="user/themes/x-dci/images/discovery_environment_icon.png" /></a>
						<a href="https://irods.org/" target="_blank"><img src="user/themes/x-dci/images/irods_icon.png" /></a>
						<a href="https://github.com/jupyter/notebook" target="_blank"><img src="user/themes/x-dci/images/jupyter_notebook_icon.png" /></a>
						<a href="https://github.com/xu-hao/QueryArrow" target="_blank"><img src="user/themes/x-dci/images/query_arrow_logo.png" /></a>
						<a href="http://scidas.org/" target="_blank"><img src="user/themes/x-dci/images/scidas_icon.png" /></a>
						<a href="https://xdcishare.renci.org/" target="_blank"><img src="user/themes/x-dci/images/xdci_share_icon.png" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="step-row">
			<div class="step-icon">
				<img src="user/themes/x-dci/images/software_icon.png" />
			</div>
			<div class="step-text">
				<div class="step-number">02</div>
				<div class="step-description">
					<h4>Sustainable Software Concierge</h4>
					<p>The {x}DCI Sustainable Software Concierge staff will serve as technical project managers and work with your team to deploy your project on the appropriate cloud infrastructure.  Once deployed, they will work with your team to instill sustainable software best practices to ensure efficient and persistent continuation of your project over time.</p>
					<div class="logo-wrap">
						<a href="https://aws.amazon.com/" target="_blank"><img src="user/themes/x-dci/images/amazon_web_services_logo.png" /></a>
						<a href="https://azure.microsoft.com/en-us/" target="_blank"><img src="user/themes/x-dci/images/azure_icon.png" /></a>
						<a href="https://www.chameleoncloud.org/" target="_blank"><img src="user/themes/x-dci/images/chameleon_icon.png" /></a>
						<a href="https://www.cloudlab.us/" target="_blank"><img src="user/themes/x-dci/images/cloudlab_icon.png" /></a>
						<a href="https://cloud.google.com/" target="_blank"><img src="user/themes/x-dci/images/gcp_icon.png" /></a>
						<a href="https://en.wikipedia.org/wiki/Cloud_computing#Private_cloud" target="_blank"><img src="user/themes/x-dci/images/private_cloud_icon.png" /></a>
						<a href="http://renci.org/" target="_blank"><img src="user/themes/x-dci/images/renci_icon.png" /></a>
						<a href="https://www.tacc.utexas.edu/systems/cloud-computing" target="_blank"><img src="user/themes/x-dci/images/tacc_icon.png" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="step-row">
			<div class="step-icon">
				<img src="user/themes/x-dci/images/data_icon.png" />
			</div>
			<div class="step-text">
				<div class="step-number">03</div>
				<div class="step-description">
					<h4>Data Science<br/> Concierge</h4>
					<p>The {x}DCI Data Science Concierge staff will offer data science expertise in how to extract maximum scientific and community benefit from your deployment of {x}DCI. These staff are experts in data science analytics and visualization using the latest technologies and methods that will accelerate your community to new levels of achievement.</p>
				</div>
			</div>
		</div>
		<div class="step-row" id="step-row-3">
			<div class="step-icon">
				<img src="user/themes/x-dci/images/xdci_stamper_icon.png" />
			</div>
			<div class="step-text">
				<div class="step-number">04</div>
				<div class="step-description">
					<h4>Sustainability<br/> Concierge</h4>
					<p>The {x}DCI Sustainability Concierge staff will assist in the identification of requirements necessary to support future scenarios including migration to new cloud infrastructure, business plans for identifying future funding models, and identification of technology resulting from use of xDCI which may feed back into xDCI itself.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="community-background">
	<div class="community-wrap">
		<h2>Existing {x}DCI Communities</h2>
		<div class="use-case-wrap">
			<div class="use-case-logo-wrap">
				<a href="http://databridge.web.unc.edu/" target="_blank"><img src="user/themes/x-dci/images/brain-i_logo_dark.png" /></a>
			</div>
			<p>Creating a discovery environment for 3-D transparent brain images to enable data sharing and development of novel analysis tools.</p>
			<h3>Use Cases</h3>
			<div class="problem-list">						
				<ul>
					<li>Automated Data Ingest</li>
					<li>Image Analysis and Analytics</li>
					<li>Automated Data Management</li>
					<li>Data Discovery</li>
					<li>Data Publication</li>
					<li>Cross-Institutional Collaboration</li>
				</ul>
			</div>
			<h3>{x}DCI Technologies</h3>
			<div class="logo-wrap">						
				<a href="https://xdci-de.renci.org/de" target="_blank"><img src="user/themes/x-dci/images/discovery_environment_icon_dark.png" /></a>
				<a href="https://irods.org/" target="_blank"><img src="user/themes/x-dci/images/irods_icon_dark.png" /></a>
			</div>
			<h3>PIs | Ashok Krishnamurthy and Jason Stein</h3>
		</div>
		<div class="use-case-wrap">
			<div class="use-case-logo-wrap">
				<a href="" target="_blank"><img src="user/themes/x-dci/images/myhpom_icon.png" /></a>
			</div>
			<p>My Health Peace of Mind is an online system being developed for residents of North Carolina and South Carolina to support sharing of advanced health care directive documents.</p>
			<h3>Use Cases</h3>
			<div class="problem-list">						
				<ul>
					<li>Document Sharing</li>
					<li>Document Versioning</li>
					<li>Individual and Group Access Controls</li>
					<li>Comments and Ratings on Documents</li>
					<li>Secure Storage and Archiving</li>
					<li>Cross-Institutional Collaboration</li>
				</ul>
			</div>
			<h3>{x}DCI Technologies</h3>
			<div class="logo-wrap">
				<a href="https://irods.org/" target="_blank"><img src="user/themes/x-dci/images/irods_icon_dark.png" /></a>
				<a href="https://xdcishare.renci.org/" target="_blank"><img src="user/themes/x-dci/images/xdci_share_icon_dark.png" /></a>
			</div>
			<h3>PIs | Chris Lenhardt and Ray Idaszak</h3>
		</div>
	</div>
	<div class="get-started-wrap">
		<div class="get-started-button">
			<a href="{{ base_url }}/get-started" class="xdci-button">Get Started</a>
		</div>
	</div>
</div>