<footer class="gradient-border">
    <div class="wrapper padding">
        {x}DCI is an entity of <a href="http://renci.org"><img src="{{ url('theme://images/rencilogo.png') }}" alt="RENCI Renaissance Computing Institute" /></a>
    </div>
</footer>
