{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="component-wrap">
	    {{ page.content }}
		<div class="red-section">
			<h3 class="red-section-text">Learn more about xDCI infrastructure below...</h3>
		</div>
		<div class="component-row">
		{% for p in page.collection %}
			<div class="component-summary">
				{% for image in p.media.images %}
					<div class="component-logo-wrap toggler">
				   		<div class="logo-arrow-wrap">
				   			&#8595;{{ image.html }}
				   		</div>
				   	</div>
				{% endfor %}
				<div class="toggle_cont">
					{{ p.summary }}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}