{% extends 'partials/base.html.twig' %}

{% block content %}
    {{ page.content }}
    {% for p in page.collection %}
		<a href="{{ p.url }}">
			<div class="publication-summary">
				{{ p.summary }}
			</div>
		</a>
	{% endfor %}
{% endblock %}